body{
  font-family: 'Kumbh Sans', sans-serif;
  background-color: hsl(185, 75%, 39%);
  margin: 0;
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  padding: 20px;
}

.top-image{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  max-width: 350px;
  width: 100%;
  height: 27%;
}

.profile-card{
  background-color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  max-width: 350px;
  width: 100%;
  position: relative;
}

.profile-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.profile-picture{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 7px solid #fff;
  position: absolute;
  top: -60px;
}

.name-age{
  display: flex;
  align-items: baseline;
  gap: 0.5em;
  margin-top: 80px;
  margin-bottom: 8px;
  font-size: clamp(0.8em, 5vw, 1.2em);
}

.name{
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.age{
  color: hsl(0, 0%, 59%);
}

.location{
  font-size: 1em;
  color: hsl(0, 0%, 59%);
}

hr{
  color: hsl(0, 0%, 89%);
}

.stats{
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 30px;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  color: hsl(0, 0%, 59%);
}

.figures{
  font-size: clamp(1em, 5vw, 1.4rem);
  font-weight: 700;
  color: hsl(229, 23%, 23%);

}

.stats-p{
  font-size: clamp(0.8em, 3vw, 1.1rem);
  letter-spacing: 0.1em;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
